# BROWSER
# chrome
# firefox
# safari
BROWSER=chrome

#RUN BROWSER AS INCOGNITO/PRIVATE MODE = yes or no
PRIVATE=no

#ENVIRONMENT_SETUP = PROD, STG, DEV
TARGET=dev

#RUN AS HEADLESS = yes or no
HEADLESS=no

#DEFAULT RESOLUTION FOR MWEB
MWEB_WIDTH=411
MWEB_HEIGHT=823

# USER AGENT FOR MWEB
MWEB_USER_AGENT = 'Mozilla/5.0 (iPhone; CPU iPhone OS 14_6 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/14.0.3 Mobile/15E148 Safari/604.1'